Thumbs.db
.DS_Store
dissertation/maxwell2013_msci_paper.pdf
*.bbl
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.blg
*.cb
*.cb2
.*.lb
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync
*.acn
*.acr
*.glg
*.glo
*.gls
*.glsdefs